<% layout('_inc/layout') -%>

<header class="input-box">
	<div class="container">

		<div class="logo">
			<img src="img/duxilio-logo-hexagon.svg" />
		</div>
		<div class="input-box__input-wrapper">
			<input class="input-box__input" type="search" placeholder="How can I help?" />
			<a class="input-box__input-wrapper__icon ss-icon ss-pika">microphone</a>
		</div>
	
	</div>
</header>

<section class="output-box">
	<div class="container">
		<div class="output-box__wrapper output-box__wrapper--visible"></div>
	</div>
</section>

<script class="js-template" data-template-name="message" type="text/x-handlebars-template">
	<div class="message {{#if right}}message--right{{/if}}">{{ content }}</div>
</script>

<script class="js-template" data-template-name="card" type="text/x-handlebars-template">
	<div class="card">
		{{#if details.isSingleOverview}}
			<div class="card__content">
				{{#each details.main}}
					<p>{{{this}}}</p>
				{{/each}}
			</div>
		{{else}}
		<table>
			{{#each details}}
				{{#if this}}
					<tr>
						<td>{{ @key }}</td>
						<td>
						{{#if this.isTags }}
							{{#each this.data}}
								<span class="tag">{{this}}</span>
							{{/each}}
						{{else}}
						<b>{{ this.data }}</b>
						{{/if}}
						</td>
					</tr>
				{{/if}}
			{{/each}}
		</table>
		{{/if}}
		<!--<footer class="card__footer">
			<p></p>
		</footer>-->
	</div>
</script>