<% layout('_inc/layout') -%>

<div class="search-box">
	
	<div class="logo">
		<img src="img/duxilio-logo-hexagon.svg" />
	</div>
	<input class="search-box__input" type="search" placeholder="How can I help?" />

</div>