<% layout('_inc/layout') -%>

<header class="input-box">
	<div class="container">

		<div class="logo">
			<img src="img/duxilio-logo-hexagon.svg" />
		</div>
		<input class="input-box__input" type="search" placeholder="How can I help?" />
	
	</div>
</header>

<section class="output-box">
	<div class="container">
		<div class="output-box__wrapper output-box__wrapper--visible"></div>
	</div>
</section>

<script class="js-template" data-template-name="message" type="text/x-handlebars-template">
	<div class="message {{#if right}}message--right{{/if}}">{{ content }}</div>
</script>

<script class="js-template" data-template-name="card" type="text/x-handlebars-template">
	<div class="card">
		<table>
			{{#each details}}
				<tr>
					<td>{{ title }}</td>
					<td>
					{{#if tags}}
						{{#each tags}}
							<div class="tag">{{this}}</div>
						{{/each}}
					{{else}}
					<b>{{ content }}</b>
					{{/if}}
					</td>
				</tr>
			{{/each}}
		</table>
		<footer class="card__footer">
			<p>Type either y or n</p>
		</footer>
	</div>
</script>