img {
	width: 100%;
	border-radius: $border-radius;
}

p {
	//margin-bottom: $margin-s;
}

table {
	width: 100%;

	font-size: $size-s;
	border-collapse: collapse;

	td {
		@include border(bottom, $color: $gray-light);
		padding: $margin-m $margin-l;
		vertical-align: top;
	}
}