$body-family: 'Open Sans', Helvetica, Arial, sans-serif;
$body-weight: 300;
$body-line-height: 1.5em;
$body-bold-weight: 400;

$size-s: .9em;
$size-m: 16px;
$size-l: 1.3em;


//Colors
$base-color: #585858;
$bg-color: #0f445c;

$white: #fff;
$gray: #fcfcfc;
$gray-light: #a9a9a9;

$brand-blue: #2eb2c4;
$brand-blue-dark: #2f9dc3;
$brand-deep-blue: #37509e;
$brand-deep-blue-dark: #434394;


//Spacings
$margin-xs: .3em;
$margin-s: .5em;
$margin-m: 1em;
$margin-l: 2em;
$margin-xl: 3em;


//Borders
$border-style: solid;
$border-width: 2px;
$border-radius: 3px;


//Animation
$transition-duration: .3s;
$transition-timing: ease;