input[type="text"],
input[type="search"] {
	width: 100%;
	max-width: 530px;

	border: none;
	background-color: transparent;

	font: $body-weight $size-m $body-family;
	color: $white;
	@include border(bottom, $color: rgba($white, .4));

	padding: 0;
	padding-bottom: $margin-xs;
	padding-right: $margin-xl;

	&::-webkit-input-placeholder {
		color: rgba($white, .7);
	}

	&:focus {
		outline: none;
	}
}