.input-box {
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	
	background-color: $bg-color;
	padding: $margin-l 0;
	padding-bottom: 0;

	.logo {
		width: 40px;
		float: left;
		margin-right: $margin-m;
		margin-bottom: 0;
	}

	&__input {
		position: relative;
	}

	//width: 600px;

	// position: absolute;
	// top: 50%;
	// left: 50%;

	// margin-left: -300px;
	// margin-top: -#{(209/2) + 70}px;
	// @extend .text-center;
}