.output-box {
	// position: fixed;
	// top: 0;
	// left: 0;
	// right: 0;
	// bottom: 0;
	// overflow-y: auto;

	background-color: $bg-color;
	padding-top: 4em + $margin-xl;

	&__wrapper {
		opacity: 0;

		@include transition(opacity);

		&.output-box__wrapper--visible {
			opacity: 1;
		}
	}

	&__item {
		overflow: hidden;
		position: relative;

		top: -20px;
		opacity: 0;

		@include transition((top, opacity));

		&.output-box__item--visible {
			top: 0;
			opacity: 1;
		}
	}
}